.fancard-header ion-title{
    margin-left: 0px !important;
    margin-right: 9% !important;
}

.fancount{
  text-align: center;
  margin-top: 50%;
}
.scanning{
      text-align: center;
      margin-top: 35%;
      img{
        width: 50%;
      }
}
.fancount{
  text-align: center;
  margin-top: 50%;
  
  p{
      font-weight: bold;
      font-size: 20px;
      font-family:'SF-SemiBold' !important ;
  }  
}


