<ion-header class="w3-animate-left fancard-header">
    <ion-toolbar [ngClass]="isIos == true ? 'fancard-ios-toolbar' : 'fancard-toolbar'">
      <ion-buttons slot="start" (click)="onBackClick()"> 
        <ion-button>
            <ion-icon name="arrow-back-outline" ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Scan Qr Code</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content  class="w3-animate-left">
  <div class="qr-code-scanner">
    <div (click)="openQRScanner()" class="scanning">
      <img src="../../assets/qr-code-scanner.png"/>
    </div>
    <div class="fancount">
      <p>FanCount:{{fanCount}}</p>
    </div>
  </div>
</ion-content>
