.btn-div {
    text-align: center;
    margin-bottom: 20px ;
}

.forgot-password{
    text-align: right;
    color: var(--ion-color-primary);
    font-weight: 600;
    font-size: 12px;
    padding-top: 15px;
    font-family:'SF-SemiBold' !important ;
}

.list-view {
    margin: 20px 35px;
}

.btn-login {
    width: 50%;
    height: 45px;
    font-size: 18px;
}

ion-item {
    margin: 20px 0px 5px 0px;
    --border-color: #e8e8e8;
    --padding-start: 0px;
    --inner-padding-bottom: 15px;
}

