<ion-header class="fancard-header">
  <ion-toolbar [ngClass]="isIos == true ? 'fancard-ios-toolbar' : 'fancard-toolbar'">
    <ion-title class="w3-animate-left">
      Past Events
    </ion-title>
    <ion-buttons slot="end" class="profile-img" (click)="onProfileClick()">
      <img *ngIf="schoolImage !== ''" src="{{schoolImage}}">
      <img *ngIf="schoolImage === ''" src="../../../assets/no-img.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="w3-animate-left">
  <ng-container *ngIf="pastEvents && pastEvents.length > 0">
    <div class="event-list" *ngFor="let event of pastEvents">
      <div class="top-title">
        <p class="event-name" *ngIf="event?.Name">
          {{event?.Name}}
        </p>
        <p class="event-date" *ngIf="event?.Date">
          {{event?.Date | date:'EEE, MMM d'}} {{event?.Time}}
        </p>
      </div>
      <div class="event-desc">
        <p class="event-address" *ngIf="event?.Address">
          {{event?.Address}}
        </p>
      </div>
      <div class="event-attend">
        <p class="attended-text" *ngIf="event?.attended_total">
          Total Attended : {{event?.attended_total}}
        </p>
      </div>
    </div>
  </ng-container>
</ion-content>