ion-content  {
  --background: #faf9f9;
}

ion-header {
  ion-buttons {
    width: 35px;
    height: 30px;
    img{
      border: 1px solid #fff;
      padding: 2px;
      border-radius: 100px;
    }
  }
}
.profile-img {
  width: 30px;
}

.event-name {
  font-weight: 700;
  color: #666666;
  display: inline-block;
  width: 50%;
  margin: 5px 0px;
  font-family: 'SF-SemiBold' !important;
}

.event-date {
  color: #2096f1;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin: 2px 0px;
  padding: 5px 0px 0px 0px;

}

.event-address {
  font-size: 12px;
  color: #ACB1C0;
  margin: 2px 0px;
  width: 65%;
}

.event-attend {
  font-size: 12px;
  
}

.attended-text {
  margin: 10px 0px 0px 0px;
  font-family: 'SF-SemiBold' !important;
}

.event-list {
  margin: 0px 10px;
  padding: 10px;
  border-bottom: 1px solid #EAECEF;
}

.event-desc {
  margin: 4px 0px;
}