<ion-content>
  <div class="header-img">
      <img class="header-logo" src="../../../assets/fancard logo.png" />
      <ion-button  [ngClass]="isIOS == true ? 'close-ios-btn' : 'close-btn'" fill='clear' (click)="dismissModel()">
      <ion-icon name="close-outline" class="close-icon"></ion-icon>
    </ion-button>
    <p class="header-text">Change Password</p>
  </div>
  <form [formGroup]="changePasswordForm">
    <ion-list class="list-view">
      <ion-item>
        <ion-input type="password" formControlName="oldPassword" placeholder='Old Password'  (keyup.enter)="onEnter($event)"></ion-input>
      </ion-item>
      <p class="error-text" *ngIf="changePasswordFormSubmited && changePasswordForm.controls?.oldPassword?.errors?.required">*Old password is required.</p>
      <ion-item>
        <ion-input type="password" formControlName="newPassword" placeholder='New Password' (keypress)="onPress()" (keyup.enter)="onEnter($event)"></ion-input>
      </ion-item>
      <p class="error-text" *ngIf="changePasswordFormSubmited && changePasswordForm.controls?.newPassword?.errors?.required">*New password is required.</p>
      <ion-item>
        <ion-input type="password" formControlName="confirmPassword" placeholder='Confirm Password' (keypress)="onPress()" (keyup.enter)="onEnter($event)"></ion-input>
      </ion-item>
      <p class="error-text" *ngIf="changePasswordFormSubmited && changePasswordForm.controls?.confirmPassword?.errors?.required">*Confirm password is required.</p>
      <p class="error-text" *ngIf="changePasswordFormSubmited && !changePasswordForm.controls?.confirmPassword?.errors?.required && !changePasswordForm.controls?.newPassword?.errors?.required && mismatchedPasswords">New password and confirm password should be same.</p>
    </ion-list>
  </form>
  <div class="btn-div">
    <ion-button class="btn-send" (click)="changePasswordClick()" shape='round'>Submit</ion-button>
  </div>
</ion-content>