.btn-div {
     text-align: center;
    margin-bottom: 40px ;
}

.list-view {
    margin: 20px 35px;
}
.close-ios-btn{
    margin: 40px 0px;
}

.close-btn{
    margin: 10px 0px;
}

.close-icon {
    color: #ffffff;
    font-size: 30px;   
}

.btn-send {
    width: 80%;
    font-size: 18px;
    height: 45px;
}

ion-item {
   margin: 20px 0px 5px 0px;
    --border-color: #e8e8e8;
    --padding-start: 0px;
    --inner-padding-bottom: 15px;
}