
  <ion-tabs  (ionTabsDidChange)="tabChange($event)" #myTabs>

    <ion-tab-bar [ngClass]="isIOS == true ?'ios-tab-bar':''" slot="bottom">
      <ion-tab-button tab="upComingEvents">
        <img src="../../assets/upcoming-select.png" class="icon-img" *ngIf="selectTab==='upComingEvents'">
        <img src="../../assets/upcoming-unselect.png" class="icon-img" *ngIf="selectTab!=='upComingEvents'">
        <ion-label>Upcoming Events</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="pastEvents">
        <img src="../../assets/upcoming-select.png" class="icon-img" *ngIf="selectTab==='pastEvents'">
        <img src="../../assets/upcoming-unselect.png" class="icon-img" *ngIf="selectTab!=='pastEvents'">
        <ion-label>Past Events</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  
  </ion-tabs>

