.icon-img {
    height: 20px;
    width: 20px;
    margin-bottom: 8px;
}

ion-label {
    font-weight: 600;
    font-size: 12px;
}

ion-tab-bar {
    padding: 5px 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2)
}

.ios-tab-bar{
    padding: 8px 0px 14px 10px !important;
}