
// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #2096f1;

  /** secondary **/
  --ion-color-secondary: #2096f1;
  

  /** success **/
  --ion-color-success: #2dd36f;
  
  /** danger **/
  --ion-color-danger: #eb445a;

}