<ion-content>
  <div class="header-img">
      <img class="header-logo" src="../../../assets/fancard logo.png" />
      <ion-button  [ngClass]="isIOS == true ? 'close-ios-btn' : 'close-btn'" fill='clear' (click)="dismissModel()">
      <ion-icon name="close-outline" class="close-icon"></ion-icon>
    </ion-button>
    <p class="header-text">Forgot Password</p>
  </div>
  <form [formGroup]="forgotPasswordForm">
    <ion-list class="list-view">
      <ion-item>
        <ion-input formControlName="email" placeholder='Email' (keyup.enter)="onEnter($event)"></ion-input>
      </ion-item>
      <p class="error-text" *ngIf="forgotPasswordFormSubmited && forgotPasswordForm.controls?.email?.errors?.required">*Email is required.</p>
      <p class="error-text" *ngIf="forgotPasswordFormSubmited && forgotPasswordForm.controls?.email?.errors?.pattern" >Email is not valid.</p>
    </ion-list>
  </form>
  <div class="btn-div">
    <ion-button class="btn-send" (click)="forgotPasswordClick()" shape='round'>Send</ion-button>
  </div>
</ion-content>