ion-content  {
  --background: #faf9f9;
}

ion-header {
  ion-buttons {
    width: 35px;
    height: 30px;
    img{
      border: 1px solid #fff;
      padding: 2px;
      border-radius: 100px;
    }
  }
}

.profile-img {
  width: 30px;
}

.left-side {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    padding: 0px 15px 24px 15px;
  .event-name {
    margin: 0px 0px;
    font-size: 15px;
    color: black;
    font-family:'SF-SemiBold' !important ;
  }

}

.right-side {
    display: inline-block;
    vertical-align: middle;
    width: 30%;

  .event-date,
  .time {
    color: #555252;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    margin: 5px 0px;
    font-family: 'SF-SemiBold' !important;
  }

  .time {
    display: block !important;
  }
}

.add-text{
  width:100%;
  margin: 4px 0px 0px 0px;
  padding: 0px 15px;
  img{
    width: 5%;
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
  }
   .address-text {
    display: inline-block;
    margin: 7px 0px;
    padding-left: 10px;
    width: 78%;
    vertical-align: top;
  }
}


ion-card {
    color: black;
    margin: 20px 5%;
    border-radius: 4%;
    box-shadow:  0px 5px 16px 0px rgba(0, 0, 0, 0.1);
  ion-card-header {
    padding: 15px 0px;
    ion-card-title {
      font-size: 20px;
      float: left;
    }
  }
}

.attended-text {
    font-size: 13px;
    margin: 0px 0px 15px 0px;
    font-weight: 600;
    color: black;
    // letter-spacing: 1px;
    font-family: 'SF-SemiBold' !important;
}

ion-card-content {
  font-size: 13px;
  padding-bottom: 15px;
  // letter-spacing: 1px;
}

ion-button {
    height: 30px;
    --border-radius: 5px;
    font-weight: bold;
    font-size: 13.5px;
    width: 130px;
}

.btn-qr {
  text-align: center;
  margin-top: 10px;
}

.event-desc {
    color: #3b3737;
    text-align: justify;
    font-size: 11px;
}