
  <ion-header class="fancard-header">
    <ion-toolbar [ngClass]="isIos == true ? 'fancard-ios-toolbar' : 'fancard-toolbar'">
      <ion-title class="w3-animate-right">
        Upcoming Events
      </ion-title>
      <ion-buttons slot="end" class="profile-img" (click)="onProfileClick()">
        <img *ngIf="schoolImage !== ''" src="{{schoolImage}}">
        <img *ngIf="schoolImage === ''" src="../../../assets/no-img.png">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="w3-animate-right">
    <ng-container *ngIf="upcomingEvents && upcomingEvents.length > 0">
    <ion-card *ngFor="let event of upcomingEvents">
      <ion-card-header>
        <div class="top-title">
          <div class="left-side">
            <p class="event-name" *ngIf="event?.Name">
              {{event?.Name}}
            </p>
          </div>
          <div class="right-side">
            <p class="event-date" *ngIf="event?.Date">
              {{event?.Date | date:'MMM d yyyy'}}
            </p>
            <p class="time" *ngIf="event?.Time">
              {{event?.Time}}
            </p>
          </div>
          <div class="add-text">
            <img src="../../assets/placeholder.png" />
            <p class="address-text" *ngIf="event?.Address">{{event?.Address}}</p>
          </div>
        </div>
      </ion-card-header>
      <ion-card-content>
        <p class="attended-text" *ngIf="event?.attended_total">
          Attendance Count: {{event?.attended_total}}
        </p>
        <p class="event-desc" *ngIf="event?.Description">
          {{event?.Description}}
        </p>
        <div class="btn-qr">
          <ion-button *ngIf="event?.Id" (click)="openQRScanner(event.Id, event.attended_total)">Scan Qr Code</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>